// Variables

// primer esquema de colores
$violet: #ce5ef7;
$light-violet: #f6e1ff;
$turquoise: #2fc4ab;
$light-turquoise: #e1fffa;

// segundo esquema de colores
$dark: #222831;
$cobalt-dark: #393E46;
$cobalt-gray: #A3B4B4;
$gray: #D5E0E0;
$light-gray: #EEEEEE;
$white: #FFFFFF;


// Familia de fuentes
$Comfortaa: 'Comfortaa', sans-serif;

// Tamaño de fuentes
$h1-size: 40px;
$h2-size: 34px;
$h3-size: 28px;
$h4-size: 18px;
$h5-size: 16px;
$p-size: 12px;
$a-size: 14px;

// peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;

