// footer
.footer {
    text-align: center;
    position: relative;
    top: -30px;
    background-color: $white;
    padding: 20px 0 0 0;
    z-index: 1;
    a {
        font-size: $p-size;
    }
    .footer__title {
        padding: 20px 0 20px 0;
    }
    &__img {
        color: $cobalt-dark;
        font-size: 60px;
        margin: 0px 15px 20px;
    }

    @media only screen and (min-width: 768px) {
            .footer__img {
                margin: 0px 30px 20px;
            }
    }

   &__RRSS {
        i {
            transition: all .2s ease-in-out;
            &:hover {
                transition: all .2s ease-in-out;
                color: $turquoise;
               }
        }
                
   }
}