// Variables

// primer esquema de colores
$magenta: #F300FF;
$hover-magenta: #f652ff;
$cyan: #38FFFF;


// segundo esquema de colores
$light-teal: #73caca;
$teal: #447878;
$dark: #262626;
$gray: #C0BFBF;
$light-gray: #E9E9E9;
$white: #ffffff;


// Familia de fuentes
$open-sans: 'Open Sans', sans-serif;

// Tamaño de fuentes
$h1-size: 36px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 14px;
$h5-size: 10px;
$p-size: 18px;
$a-size: 18px;
$li-size: 14px;

// peso de fuentes
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

