// footer
.footer {
    background-color: $light-gray;
    height: 220px;
    .footer_txt {
        padding: 70px;
        p {
            color: $dark;
            text-align: justify;
        }
    }
    img {
        padding: 40px 0 20px 0;
        width: 300px;
    }
    h5 {
        text-align: center;
    }
}