//header
header {
    text-align: center;
    overflow-x: hidden;
    max-width: 100%;
    
    h3 {
        max-width: 500px;
        margin: 0 auto;
        padding: 200px 20px 50px 20px;
        font-size: $h3-size;
    }
    img {
        width: 150%;
        margin: 0 0 10% -25%;

    }
}

@media only screen and (min-width: 1200px) {
    header img {
        max-width: 100%;
        margin-left: 0;
    }
}

