// Precios

.precios {
    height: 100%;
    p {
        text-align: center;
        margin: 20px 20% 100px 20%;
    }
    .subtitle {
        text-align: center;
        margin: 10px;
    }
    padding: 100px 0;
    //background-color: $light-gray;
}